To: @Html.Raw(ViewBag.To)
From: @Html.Raw(ViewBag.From)
Subject: Гостиница НашОТЕЛЬ Санкт-Петербург: Восстановление доступа к сайту
Content-Type: text/html; charset=utf-8

<html>
<body>
  ==========================================================<br />
  === ЭТО АВТОМАТИЧЕСКОЕ СООБЩЕНИЕ, НЕ ОТВЕЧАЙТЕ НА НЕГО ===<br />
  ==========================================================<br />
  <br />
  <h2>Восстановление доступа к сайту</h2>
  <br />
  Вы отправили запрос на восстановление доступа к личному кабинету на <a href="nashotel.ru">nashotel.ru</a>. Для смены пароля перейдите по следующей <a href="@ViewBag.callbackUrl" target="_blank">ссылке</a>.<br />
  <br />
  Если Вы не отправляли запрос на восстановление пароля на <a href="nashotel.ru">nashotel.ru</a> и считаете это письмо ошибкой, просто игнорируйте данное сообщение.
</body>
</html>
