To: @Html.Raw(ViewBag.To)
From: @Html.Raw(ViewBag.From)
Subject: НашОТЕЛЬ: Восстановление пароля
Content-Type: text/html; charset=utf-8

<html>
<body>
  ==========================================================<br />
  === ЭТО АВТОМАТИЧЕСКОЕ СООБЩЕНИЕ, НЕ ОТВЕЧАЙТЕ НА НЕГО ===<br />
  ==========================================================<br />
  <br />
  Приветствуем Вас!<br />
  <br />
  НашОТЕЛЬ получил запрос на восстановление пароля. Для этого необходимо перейти по ссылке @Html.ActionLink(Url.Action("RemindConfirm", "Account", new { id = ViewBag.ReminderToken }, "http"), "RemindConfirm", "Account", "http", null, "", new { id = ViewBag.ReminderToken }, new { target = "_blank" })<br />
  <br />
  Если Вы не отправляли запрос на восстановление пароля на nashotel.ru и считаете это письмо ошибкой, просто игнорируйте данное сообщение.<br />
  <br />
  С уважением,<br />
  администрация НашОТЕЛЬ.<br />
</body>
</html>
