@model dynamic
@{
  ViewBag.Title = "Контакты";
}

<div class="row">
  <div class="col-md-4 col-lg-3">
    @Html.Partial("_Reservation", (object)Model.book)
  </div>
  <div class="col-md-8 col-lg-6 no-h1">
    @Html.Raw(Model.Page == null ? "" : Model.Page.Content)
    @*<h2>Расположение</h2>
    <p>НашОТЕЛЬ находится на Васильевском острове на 11-й линии между Средним и Малым проспектами, всего в 5 минутах ходьбы от станции метро «Василеостровская».</p>
    <p>Центральная достопримечательность города – Дворцовая площадь и сердце города – Невский проспект – расположены в 2 км от гостиницы, до них можно быстро добраться как на машине гостиницы, так и на общественном транспорте: автобусе, троллейбусе или маршрутном такси. Васильевский остров – сосредоточие деловой и культурной жизни города.</p>
    <p>В непосредственной близости от гостиницы Вы легко найдете бизнес центры: «Елизаветинский», «Абакус Хаус», торговый центр «Остров», супермаркет «Патерсон», отделение «Сбербанка»; достопримечательности: Дворец Меньшикова, Кунсткамера, Здание Двенадцати коллегий, Ростральные колонны. А в 10 минутах – Выставочный комплекс Ленэкспо и морской пассажирский порт «Морской вокзал».</p>

    <h3>Контакты</h3>
    <p><span class="gray">Адрес:</span><br />199178, Россия, Санкт-Петербург,<br />Васильевский остров, 11-я линия, д.50</p>
    <p><span class="gray">Телефон:</span> +7 (812) 323-22-31<br /><span class="gray">Факс:</span> +7 (812) 328-35-46<br /><span class="gray">E-mail:</span> <a href="mailto:info@nashotel.ru">info@nashotel.ru</a></p>
    <p><span class="gray">Отдел бронирования:</span> <a href="mailto:reservations@nashotel.ru">reservations@nashotel.ru</a></p>
    <h3>На карте</h3>
    <div id="map" style="width:100%; height:400px;background-color:lightgray"></div>
    <br />
    <p><small><a target="_blank" href="http://maps.google.com/maps?f=q&amp;hl=ru&amp;geocode=&amp;q=199178,+%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,%D0%92%D0%B0%D1%81%D0%B8%D0%BB%D1%8C%D0%B5%D0%B2%D1%81%D0%BA%D0%B8%D0%B9+%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B2,+11-%D1%8F+%D0%BB%D0%B8%D0%BD%D0%B8%D1%8F,+%D0%B4.50&amp;sll=37.0625,-95.677068&amp;sspn=41.139534,85.957031&amp;ie=UTF8&amp;ll=59.943867,30.27036&amp;spn=0.005255,0.019312&amp;z=16&amp;iwloc=addr">Посмотреть на google maps</a></small> </p>
    <p><span class="gray">Транспорт:</span></p>
    <p>Гостиница находится недалеко от исторического центра города всего в 5 минутах ходьбы от станции метро «Василеостровская». Отель расположен всего в 10 минутах езды от выставочного комплекса «Ленэкспо». <br /><br /> Расстояние до Дворцовой площади – 2 км. <br /><br /> До Московского вокзала – 7 км, 20 минут на автомобиле или метро («Площадь Восстания»).</p>
    <p>До аэропорта «Пулково» – 20 км, 40 минут на метро, около 1 часа на автомобиле.</p>
    <p>Ближайшая к аэропорту станция метро – «Московская», до которой можно добраться:</p>
    <ul>
      <li>из Пулково-1 (местные авиалинии) – на автобусе №39 или маршрутном такси К-39;</li>
      <li>из Пулково-2 (международные перелеты) – на автобусе №13 или маршрутном такси К-13.</li>
    </ul>
    <p>&nbsp;</p> <h4>Общая информация об отеле</h4>
    <ul>
      <li>8 этажей</li>
      <li>58 номеров</li>
      <li>2 зала для конференций</li>
      <li>ресторан La Botanique</li>
      <li>лобби бар</li>
      <li>парковка</li>
    </ul><h4>Время заезда и выезда</h4>
    <ul>
      <li>время заезда 14:00</li>
      <li>время выезда 12:00</li>
    </ul><h4>В номерах</h4>
    <ul>
      <li>централизованный кондиционер</li>
      <li>минибар (оплачивается дополнительно)</li>
      <li>электронный сейф</li>
      <li>телевизор с жидкокристаллическим экраном</li>
      <li>спутниковое ТВ</li>
      <li>бесплатный доступ в интернет (Wi Fi)</li>
      <li>телефон</li>
      <li>вместительный платяной шкаф</li>
      <li>письменный стол</li>
      <li>багажница</li>
      <li>комод (во всех номерах, кроме одноместных)</li>
      <li>журнальный столик, кресло и прикроватный пуфик&nbsp;(в улучшенных номерах)</li>
      <li>раскладывающийся диван (в семейных номерах)</li>
      <li>диван с двумя креслами и журнальным столиком (в студио номерах)</li>
      <li>DVD-проигрыватель (в студио номерах)</li>
      <li>индивидуальный кондиционер (в студио номерах)</li>
      <li>детская кроватка (бесплатно предоставляется по запросу)</li>
      <li>утюг и гладильная доска (во всех номерах, кроме стандартных; в стандарные номера&nbsp;предоставляется бесплатно по запросу)</li>
      <li>дополнительная кровать (оплачивается дополнительно)</li>
    </ul><h4>В ванных комнатах</h4>
    <ul>
      <li>душ</li>
      <li>ванна (в семейных и студио номерах)</li>
      <li>белоснежные халаты, тапочки, полотенца</li>
      <li>индивидуальные наборы для душа</li>
      <li>бутилированная вода</li>
      <li>фен</li>
      <li>телефон</li>
    </ul><h4>К услугам наших гостей</h4>
    <ul>
      <li>услуги бизнес центра (24 часа в сутки)</li>
      <li>услуги консьержа (24 часа в сутки)</li>
      <li>обслуживание в номерах (24 часа в сутки)</li>
      <li>услуги прачечной и химчистки</li>
    </ul><h4>Ресторан</h4>
    <ul>
      <li>работает с 07:00 до 23:00</li>
      <li>открыт на завтраки, обеды и ужины</li>
      <li>русская и&nbsp;европейская кухня</li>
    </ul><h4>Лобби бар</h4>
    <ul>
      <li>открыт с 09:00 до 03:00</li>
      <li>русская и&nbsp;европейская кухня</li>
    </ul><h4>Летнее кафе</h4>
    <ul>
      <li>открыто в летний период с 09:00 до 03:00</li>
      <li>русская и&nbsp;европейская кухня</li>
    </ul><h4>Достопримечательности</h4>
    <ul>
      <li><a target="_blank" href="http://www.hermitagemuseum.org/html_Ru/index.html">Эрмитаж</a></li>
      <li><a target="_blank" href="http://www.kunstkamera.ru/">Кунсткамера</a></li>
      <li>Стрелка Васильевского острова</li>
      <li><a target="_blank" href="http://www.rah.ru/content/ru/home_container_ru.html">Академия Художеств</a></li>
      <li>Петропавловская крепость</li>
      <li><a target="_blank" href="http://site.mariinsky.ru/ru/">Мариинский театр</a></li>
      <li>Медный всадник</li>
    </ul><h4>Дополнительная информация</h4>
    <ul>
      <li>возможно размещение гостей с ограниченными физическими возможностями</li>
      <li>беспроводной интернет во всей <a href="/">гостинице</a></li>
      <li>размещение с животными не допускается<br /></li>
    </ul>*@

  </div>
</div>

@section css
{
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
}
@section Scripts1
{
  <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
  <script type="text/javascript">
    var myMap;

    // Дождёмся загрузки API и готовности DOM.
    ymaps.ready(init);

    function init() {
      // Создание экземпляра карты и его привязка к контейнеру с
      // заданным id ("map").
      var myMap = new ymaps.Map('map', {
        center: [59.943765, 30.270281], // Москва
        zoom: 12
      }),
       myPlacemark1 = new ymaps.Placemark([59.943765, 30.270281], {
         // Свойства.
         // Содержимое иконки, балуна и хинта.
         iconContent: '1',
         balloonContent: 'НашОТЕЛЬ, Васильевский остров, 11-я линия, д.50',
         hintContent: 'НашОТЕЛЬ'
       }, {
         // Опции.
         // Стандартная фиолетовая иконка.
         preset: 'twirl#violetDotIcon'
       });
      myMap.controls
        // Кнопка изменения масштаба.
        .add('zoomControl', { left: 5, top: 5 })
        // Список типов карты
        .add('typeSelector')
        // Стандартный набор кнопок
        .add('mapTools', { left: 35, top: 5 });
      myMap.geoObjects
        .add(myPlacemark1);
    }
  </script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  @Html.Partial("_ReservationScript")
}

