@{
  ViewBag.Title = "Наши номера";
}
@Html.Raw(Model.Page == null ? "" : Model.Page.Content)
  @*<p class="">К услугам наших гостей 58 просторных номеров пяти различных категорий нашей гостиницы. Выберете наиболее подходящую для Вас категорию номера.</p>
  <div class="row text-center">
    <div class="col-sm-6 col-ld-4 text-center no-rooms">
      <img class=" img-circle" src="~/Content/uploads/SS_yl_t.jpg" alt="Одноместный стандартный номер">
      <h4>Одноместный стандартный номер</h4>
      <p>Это светлые комнаты общей площадью 20 кв.м. Удобная мебель и современный стиль оформления создают атмосферу уюта и комфорта. В номерах есть все необходимое для размещения гостей нашего отеля.</p>
      <p><a class="btn btn-success" href="#" role="button">Подробнее &raquo;</a></p>
    </div>
    <div class="col-sm-6 col-ld-4 text-center no-rooms">
      <img class="img-circle" src="~/Content/uploads/SD_vi_t.jpg" alt="Двухместный стандартный номер">
      <h4>Двухместный стандартный номер</h4>
      <p>Номера представляют собой просторные светлые комнаты с большими окнами. Общая площадь номера составляет 25 кв.м. В данной категории номеров гостиницы – 6 комнат с двумя раздельными кроватями, остальные 10 – с одной большой кроватью.</p>
      <p><a class="btn btn-success" href="#" role="button">Подробнее &raquo;</a></p>
    </div>
    <div class="col-sm-6 col-ld-4 text-center no-rooms">
      <img class="img-circle" src="~/Content/uploads/ET_gr_t.jpg" alt="Улучшенный номер">
      <h4>Улучшенный номер</h4>
      <p>Это комнаты с видом на тихую улицу в самом сердце Санкт-Петербурга. Летом французские балкончики некоторых номеров украшаются пышно цветущими яркими петуньями.</p>
      <p><a class="btn btn-success" href="#" role="button">Подробнее &raquo;</a></p>
    </div>
    <div class="col-sm-6 col-ld-4 text-center no-rooms">
      <img class="img-circle" src="~/Content/uploads/FD_yl_t.jpg" alt="Семейный номер">
      <h4>Семейный номер</h4>
      <p>Семейные номера идеально подходят для размещения родителей, путешествующих с детьми, так как в комнатах есть раскладывающийся диван, который может использоваться как дополнительное спальное место.</p>
      <p><a class="btn btn-success" href="#" role="button">Подробнее &raquo;</a></p>
    </div>
    <div class="col-sm-6 col-ld-4 text-center no-rooms">
      <img class="img-circle" src="~/Content/uploads/SU_gr_t.jpg" alt="Студио номер">
      <h4>Студио номер</h4>
      <p>Это самые просторные номера гостиницы, их площадь составляет 43 кв.м. Декоративная колонна делит общее пространство номера на две зоны – спальную и гостевую.</p>
      <p><a class="btn btn-success" href="#" role="button">Подробнее &raquo;</a></p>
    </div>
  </div>*@