<!-- Carousel
================================================== -->
<div class="carousel slide" id="myCarousel" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="~/Content/img/image1.jpg" style="width: 100%" alt="">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item">
      <img src="~/Content/img/image2.jpg" style="width: 100%" alt="">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item">
      <img src="~/Content/img/image3.jpg" style="width: 100%">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item"><img src="~/Content/img/image4.jpg" style="width: 100%" alt=""></div>
    <div class="item"><img src="~/Content/img/image5.jpg" style="width: 100%" alt=""></div>
    <div class="item"><img src="~/Content/img/image6.jpg" style="width: 100%" alt=""></div>
    <div class="item"><img src="~/Content/img/image7.jpg" style="width: 100%" alt=""></div>
    <div class="item"><img src="~/Content/img/image8.jpg" style="width: 100%" alt=""></div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon-prev"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon-next"></span></a>
</div>
<!-- /.carousel -->
