@{
  ViewBag.Title = "Ресторан";
}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>@ViewBag.Title</h2>
    <p><a data-lightbox="image-1" title="Ресторан" target="_blank" href="~/Content/uploads/2LaBotanique.jpg"><img hspace="10" align="left" alt="увеличить" style="width: 200px; height: 132px;" src="~/Content/uploads/1LaBotanique.jpg" /></a>Ресторан «La Botanique» предлагает своим гостям большой выбор как классических блюд русской и европейской кухонь, так и оригинальные предложения от Шеф-повара.</p>
    <p>В оформлении «La Botanique» удивительным образом сочетаются и дополняют друг друга стили хай-тек и классический. Благодаря трансляции ведущих международных каналов над барной стойкой ресторана наши гости всегда в курсе происходящих событий, а классический интерьер создает атмосферу торжественной элегантности.</p><br />
    <p>Ресторан «La Botanique» открыт:<a data-lightbox="image-1" title="Ресторан" target="_blank" href="~/Content/uploads/2LaBotanigue1.jpg"><img hspace="10" align="right" alt="увеличить" style="width: 200px; height: 133px;" src="~/Content/uploads/1LaBonanique1.jpg" /></a></p>
    <ul>
      <li>на завтрак с 7:00 до 10:30 по будням и с 7:00 до 11:00 по выходным;</li>
      <li>на бизнес-ланч с 12:00 до 17:00 по будням;</li>
      <li>на ужин a la carte с 17:00 до 23:00 каждый день.</li>
    </ul>
    <p>Лобби бар гостиницы «НашОТЕЛЬ» для Вашего удобства открыт с 9:00 утра до 3:00 ночи. </p>
    <p>Здесь Вы можете выпить ароматного кофе за просмотром утренней газеты или попробовать фирменные коктейли барменов нашей гостиницы.</p>
    <ul id="accordion">
      <li>
        <a data-toggle="collapse" data-parent="#accordion" href="#banq_rest">Банкеты</a>
        <div id="banq_rest" class="collapse">
          <br>
          <p align="justify">Ваше торжество станет восхитительным праздником в нашем ресторане La Botanique! В нашем ресторане с комфортом разместятся до 50 гостей, и всегда найдется место для танцев и зажигательной развлекательной программы.</p>
          <p align="justify">Элегантный интерьер ресторана в полной мере отразит исключительность происходящего события. Свадьба*, день рождения, юбилей, корпоративная вечеринка&nbsp;— любое торжественное мероприятие пройдет на самом высоком уровне и оставит неизгладимое впечатление. </p>
          <p align="justify">Изысканные блюда от нашего шеф-повара и атмосфера праздника надолго останутся в памяти Ваших гостей. </p>
          <p align="justify">Наши широкие возможности в организации и проведении мероприятий, индивидуальный подход к пожеланиям наших гостей и профессионализм сотрудников всегда к Вашим услугам. Мы готовы предоставить Вам различные варианты меню, подобрать музыкальное сопровождение, оформить интерьер живыми цветами.</p>
          <p align="justify">В любом случае, мы всегда готовы учитывать Ваши пожелания. Для нас нет мелочей! </p><a href="/events/banq/">МЕНЮ</a><br /><br />
          <p>* - При проведении свадебного торжества в ресторане отеля размещение молодоженов в номере в подарок. Подробности уточняйте у администратора по тел. (812) 323-22-31 </p>
        </div>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion" href="#breakfast">Завтраки</a>
        <div id="breakfast" class="collapse">
          <br><img align="left" width="200" height="133" alt="" style="padding-bottom: 10px; width: 200px; padding-right: 15px; height: 133px;" src="~/Content/uploads/breakfast1.jpg" />
          <p>Ресторан La Botanique открыт на завтрак как для гостей, проживающих в отеле, так и для всех желающих. Здесь каждый день на богатом шведском столе Вы найдете:</p><br /><br /><br /><br /><br /><br /><br />
          <p><b>Нарезки</b><br /></p>
          <ul>
            <li>свежие овощи: огурцы, томаты, сладкий перец;</li>
            <li>мясное ассорти: куриный рулет, буженина, копченая говядина;</li>
            <li>лосось шеф-посола;</li>
            <li>сырная нарезка;</li>
          </ul><img align="right" width="200" height="133" alt="" style="padding-bottom: 10px; padding-left: 15px; width: 200px; height: 133px;" src="~/Content/uploads/breakfast3.jpg" />
          <p><b>Горячие блюда</b> <br /></p>
          <ul>
            <li>картофель запеченый;</li>
            <li>каша овсяная;</li>
            <li>кашка яичная;</li>
            <li>хрустящий бекон;</li>
            <li>сосиски;</li>
          </ul><b>Мюсли, злаки, сухофрукты</b> <br /><br />
          <ul>
            <li>мюсли фруктовые;</li>
            <li>хлопья кукурузные;</li>
            <li>хлопья зерновые;</li>
            <li>молоко горячее и холодное;</li>
            <li>чернослив, курага;</li>
          </ul><img align="right" width="200" height="133" alt="" style="padding-bottom: 10px; padding-left: 15px; width: 200px; height: 133px;" src="~/Content/uploads/breakfast2.jpg" />
          <p><b>Выпечку</b> <br /></p>
          <ul>
            <li>мини-кексы;</li>
            <li>булочки со сливками;</li>
            <li>тостовый хлеб;</li>
            <li>круассаны;</li>
            <li>черный и белый хлеб;</li>
          </ul><b>Фрукты</b> <br /><br />
          <ul>
            <li>фруктовый салат и свежие фрукты;</li>
          </ul><b>Йогурты</b> <br /><br />
          <ul>
            <li>натуральный и фруктовый йогурты в индивидуальных упаковках;</li>
          </ul><b>Напитки</b> <br /><br />
          <ul>
            <li>фруктовые соки, кофе, чай в ассортименте.</li>
          </ul>
          <p>Стоимость полного буфета на одного человека&nbsp;900 рублей. Количество подходов не ограничено! </p>
        </div>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion" href="#buisness_lunch">Бизнес-ланч</a>
        <div id="buisness_lunch" class="collapse">
          <br><img width="200" height="170" align="left" alt="Бизнес-ланч" style="padding-bottom: 10px; width: 200px; padding-right: 15px; height: 170px;" src="~/Content/uploads/business-lunch3.jpg" />
          <p>В ресторане "La Botanique" бизнес-ланч проводится в формате сет-обедов. Ассортимент блюд меняется в течение недели.</p>
          <div style="display:inline-block">
            <p align="center" style="color: green;"><b>Ассортимент буфета НАШЕГО бизнес-ланча:</b></p>
            <p align="center" style="text-align: left; margin-bottom: 0.0001pt;" class="MsoNormal">&nbsp;</p>
            <p align="center" style="font-size: 9pt; margin-bottom: 6pt; text-align: center;" class="MsoNormal"><b><span style="font-size: 12pt; font-family: 'Courier New';">Понедельник</span></b></p>
            <ul style="font-size: 9pt;">
              <li><span style="font-size: 9pt;">&nbsp;</span><span style="font-family: Courier New; font-size: 12pt;">Морс домашний</span></li>
            </ul>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Салат с
                  курицей (120/20гр)
                </span>
              </li>
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Крем-суп из
                  шпината (200гр)
                </span>
              </li>
            </ul>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Домашние
                  котлеты с пене и пикантным соусом (120/100/30гр)
                </span>
              </li>
            </ul>
            <div style="font-size: 12pt; font-family: 'Courier New'; text-align: center;">
              или
            </div>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Филе трески,
                  запеченное по-русски, с отварным картофелем
                </span><span style="font-family: 'Courier New'; font-size: 12pt;">&nbsp;</span><span style="font-family: 'Courier New'; font-size: 12pt;">(120/100гр)</span>
              </li>
            </ul>
            <ul style="font-size: 9pt;">
              <li><span style="font-family: 'Courier New'; font-size: 12pt;">Печенье «Курабье» (75гр)</span></li>
              <li><span style="font-family: 'Courier New'; font-size: 12pt;">Чай или кофе</span></li>
            </ul>
            <p style="text-align: center;">&nbsp;<b style="font-size: 9pt; text-align: center;"><span style="font-size: 12pt; font-family: 'Courier New';">Вторник</span></b></p>
            <ul style="font-size: 9pt;">
              <li><span style="font-size: 9pt;">&nbsp;</span><span style="font-family: 'Courier New'; font-size: 12pt;">Компот домашний</span></li>
            </ul>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Салат с сыром
                  и ветчиной (120/20гр)
                </span>
              </li>
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Гороховый суп
                  с копченостями (200гр)
                </span>
              </li>
            </ul>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Фрикасе из
                  курицы с паровым рисом (120/100гр)
                </span>
              </li>
            </ul><div style="font-size: 12pt; font-family: 'Courier New'; text-align: center;">
              или
            </div>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Томленая
                  говядина со спагетти (120/100гр)
                </span>
              </li>
            </ul>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Домашние сырники со
                  сгущенкой (100гр)
                </span>
              </li>
              <li><span style="font-family: 'Courier New'; font-size: 12pt;">Чай или кофе</span></li>
            </ul>
            <p style="text-align: center;">&nbsp;<b style="font-size: 9pt; text-align: center;"><span style="font-size: 12pt; font-family: 'Courier New';">Среда</span></b></p>
            <ul style="font-size: 9pt;">
              <li><span style="font-size: 9pt;">&nbsp;</span><span style="font-family: 'Courier New'; font-size: 12pt;">Морс домашний</span></li>
            </ul>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Салат из
                  свежих овощей (120/20гр)
                </span>
              </li>
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Куриный бульон
                  с домашней лапшой (200гр)
                </span>
              </li>
            </ul>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Зразы из
                  лосося с морковью в сливках и мускатным орехом (120/100гр)
                </span>
              </li>
            </ul><div style="font-size: 12pt; font-family: 'Courier New'; text-align: center;">
              или
            </div>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Запеченная
                  свинина с жареной капустой (120/100гр)
                </span>
              </li>
            </ul>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Легкий творожный десерт
                  (55гр)
                </span>
              </li>
              <li><span style="font-family: 'Courier New'; font-size: 12pt;">Чай или кофе</span></li>
            </ul>
            <p style="text-align: center;">&nbsp;<b style="font-size: 9pt; text-align: center;"><span style="font-size: 12pt; font-family: 'Courier New';">Четверг</span></b></p>
            <ul style="font-size: 9pt;">
              <li><span style="font-size: 9pt;">&nbsp;</span><span style="font-family: 'Courier New'; font-size: 12pt;">Компот домашний</span></li>
            </ul>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Салат с
                  подкопченной треской (120гр)
                </span>
              </li>
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Солянка рыбная
                  (200гр)
                </span>
              </li>
            </ul>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Припущенное в
                  томатном соусе филе трески с овощным рататуем (120/100гр)
                </span>
              </li>
            </ul><div style="font-size: 12pt; font-family: 'Courier New'; text-align: center;">
              или
            </div>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Жареные
                  кусочки свинины с картофелем по-деревенски (120/100гр)
                </span>
              </li>
            </ul>
            <ul style="font-size: 9pt;">
              <li><span style="font-family: 'Courier New'; font-size: 12pt;">Банановый флан (55гр)</span></li>
              <li><span style="font-family: 'Courier New'; font-size: 12pt;">Чай или кофе</span></li>
            </ul>
            <p align="center" style="font-size: 9pt; margin: 12pt 0cm 6pt; text-align: center;" class="MsoNormal"><b><span style="font-size: 12pt; font-family: 'Courier New';">Пятница</span></b><b><span lang="EN-US" style="font-size: 12pt; font-family: 'Courier New';"></span></b></p>
            <p style="margin-bottom: 6pt;" class="MsoNormal">&nbsp;</p>
            <ul style="font-size: 9pt;">
              <li><span style="font-family: 'Courier New'; font-size: 12pt;">Морс домашний</span></li>
            </ul>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Салат с
                  кальмарами (120гр)
                </span>
              </li>
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Овощной суп
                  (200гр)
                </span>
              </li>
            </ul>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Паэлья с
                  морепродуктами (250гр)
                </span>
              </li>
            </ul>
            <div style="font-size: 12pt; font-family: 'Courier New'; text-align: center;">
              или
            </div>
            <ul style="font-size: 9pt;">
              <li>
                <span style="font-family: 'Courier New'; font-size: 12pt;">
                  Куриный шницель
                  с чечевицей и соусом карри (120/100/30гр)
                </span>
              </li>
            </ul>
            <ul style="font-size: 9pt;">
              <li><span style="font-family: 'Courier New'; font-size: 12pt;">Йогуртовый десерт (50гр)</span></li>
              <li><span style="font-family: 'Courier New'; font-size: 12pt;">Чай или кофе</span></li>
            </ul>
            <p></p>
            <p>Сет-обед «полный» (холодная закуска, первое блюдо, второе блюдо, десерт) – 490 р. <br />Сет-обед «экспресс» (холодная закуска, второе блюдо, десерт) – 390 р. <br /><br />В каждый ланч входит хлебная корзинка. <br /><br />За более подробной  информацией обращайтесь к сотрудникам ресторана.</p>
          </div>
        </div>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion" href="#a_la_card">Меню a la carte</a>
        <div id="a_la_card" class="collapse">
          <br><b>Закуски</b><b>&nbsp;</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%;"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена, руб.</th>
            </tr>
            <tr>
              <td>Лосось шеф-посола</td>
              <td>350</td>
            </tr>
            <tr>
              <td>Селедочка с отварным картофелем</td>
              <td>260</td>
            </tr>
            <tr>
              <td>Пармская ветчина с дыней</td>
              <td>420</td>
            </tr>
            <tr>
              <td>Домашняя буженина с горчицей</td>
              <td>340</td>
            </tr>
            <tr>
              <td>Студень мясной с хреном</td>
              <td>350</td>
            </tr>
            <tr>
              <td>Тосты с сырным муссом</td>
              <td>250</td>
            </tr>
            <tr>
              <td>Тарелка из свежих овощей с зеленью и ароматным маслом: огурцы, помидоры, сладкий перец, петрушка, укроп, зеленый лук.</td>
              <td>300</td>
            </tr>
            <tr>
              <td>Русская закуска под водочку: капуста квашенная, огурцы соленые, грибы маринованные, красный лук</td>
              <td>300</td>
            </tr>
            <tr>
              <td>Салат &laquo;Цезарь&raquo; из листьев салата ромейн с соусом из анчоусов c пармезаном </td>
              <td>340</td>
            </tr>
            <tr>
              <td>Салат &laquo;Цезарь&raquo; из листьев салата ромейн с соусом из анчоусов c куриным филе</td>
              <td>300</td>
            </tr>
            <tr>
              <td>Салат &laquo;Цезарь&raquo; из листьев салата ромейн с соусом из анчоусов c креветками</td>
              <td>370</td>
            </tr>
            <tr>
              <td>Салат из авокадо и креветок</td>
              <td>350</td>
            </tr>
            <tr>
              <td>Томаты с сыром моцарелла и дрессингом из базилика</td>
              <td>400</td>
            </tr>
          </table>
          <p><b>Сэндвичи</b><br /> </p>
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена, руб.</th>
            </tr>
            <tr>
              <td>Закрытый сэндвич c сыром, листьями салата и ломтиками овощей со сливочным маслом</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Закрытый сэндвич с ветчиной, листьями салата и ломтиками овощей с хреном</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Закрытый cэндвич с лососем, листьями салата и ломтиками овощей со сливочным маслом</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Закрытый сэндвич с овощами гриль, соусом песто и листьями салата</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Клаб-сэндвич с куриной грудкой, беконом и жареным яйцом</td>
              <td>450</td>
            </tr>
          </table>
          <p><b>Горячие закуски</b><br /></p>
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена, руб.</th>
            </tr>
            <tr>
              <td>Традиционные русские блины с грибами</td>
              <td>250</td>
            </tr>
            <tr>
              <td>Традиционные русские блины с мясом</td>
              <td>250</td>
            </tr>
            <tr>
              <td>Традиционные русские блины с лососем</td>
              <td>400</td>
            </tr>
            <tr>
              <td>Традиционные русские блины с красной икрой</td>
              <td>450</td>
            </tr>
            <tr>
              <td>Жульен из грибов под хрустящей сырной корочкой</td>
              <td>250</td>
            </tr>
            <tr>
              <td>Спринг ролл с лососем</td>
              <td>300</td>
            </tr>
            <tr>
              <td>Русские пирожки с капустой и мясом</td>
              <td>200</td>
            </tr>
          </table>
          <p><b>Супы</b></p>
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена, руб.</th>
            </tr>
            <tr>
              <td>Русский борщ со сметаной</td>
              <td>300</td>
            </tr>
            <tr>
              <td>Традиционный щи из квашеной капусты</td>
              <td>250</td>
            </tr>
            <tr>
              <td>Крем-суп грибной</td>
              <td>270</td>
            </tr>
            <tr>
              <td>Финская уха</td>
              <td>330</td>
            </tr>
          </table>
          <p><b>Основные блюда </b></p>
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена, руб.</th>
            </tr>
            <tr>
              <td>Форель запеченная</td>
              <td>450</td>
            </tr>
            <tr>
              <td>Морской волк, запеченный с гигантскими оливками</td>
              <td>490</td>
            </tr>
            <tr>
              <td>Треска приготовленная на гриле</td>
              <td>400</td>
            </tr>
            <tr>
              <td>Жаренные тигровые креветки с томатами конкассе</td>
              <td>520</td>
            </tr>
            <tr>
              <td>Кальмар с муссом из лосося и рисовой лапшой</td>
              <td>400</td>
            </tr>
            <tr>
              <td>Стейк ри-бай с соусом Деми-Глясс</td>
              <td>1100</td>
            </tr>
            <tr>
              <td>Филе говядины с соусом красное вино</td>
              <td>520</td>
            </tr>
            <tr>
              <td>Медальоны из свинины с горчичным соусом</td>
              <td>400</td>
            </tr>
            <tr>
              <td>Баранина тушеная с картофелем и розмарином</td>
              <td>520</td>
            </tr>
            <tr>
              <td>Цыпленок гриль со свежими овощами</td>
              <td>500</td>
            </tr>
            <tr>
              <td>Спагетти &laquo;Карбонара&raquo;</td>
              <td>350</td>
            </tr>
            <tr>
              <td>Жареный картофель с грибами и луком</td>
              <td>290</td>
            </tr>
            <tr>
              <td>Запеченный картофель с сыром и зеленью</td>
              <td>190</td>
            </tr>
            <tr>
              <td>Запеченный картофель с икрой и сметаной</td>
              <td>310</td>
            </tr>
            <tr>
              <td>Отварная молодая спаржа</td>
              <td>270</td>
            </tr>
          </table><b>Десерты</b><br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена, руб.</th>
            </tr>
            <tr>
              <td>Оригинальный рецепт от Шеф-повара - сладкие блинчики с сыром моцарелла и ликёром Бейлис</td>
              <td>350</td>
            </tr>
            <tr>
              <td>Клубника сабайон</td>
              <td>300</td>
            </tr>
            <tr>
              <td>Большая тарелка свежих сезонных фруктов</td>
              <td>450</td>
            </tr>
            <tr>
              <td>Чиз-кейк &laquo;Нью-Йорк&raquo;</td>
              <td>300</td>
            </tr>
            <tr>
              <td>Чиз-кейк &laquo;Карамельный&raquo;</td>
              <td>300</td>
            </tr>
            <tr>
              <td>Мороженое в ассортименте</td>
              <td>250</td>
            </tr>
            <tr>
              <td>Ягодный сорбет</td>
              <td>300</td>
            </tr>
          </table>
        </div>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion" href="#winecard">Винная карта</a>
        <div id="winecard" class="collapse">
          <br><b>Игристые и шампанские вина</b> <br /><br />
          <table class="table table-striped table-bordered">
            <tr>
              <th>Наименование</th>
              <th>цена за 0,2 l</th>
              <th>цена за 0,75 l</th>
            </tr>
            <tr>
              <td>Ламбруско Делл’ Эмилия<br /><span style="color: rgb(128, 128, 128);">Донелли Италия, полусладкое / розовое</span></td>
              <td>260</td>
              <td></td>
            </tr>
            <tr>
              <td>Лев Голицын<br /> <span style="color: rgb(128, 128, 128);">Россия, полусладкое / брют</span></td>
              <td></td>
              <td>850</td>
            </tr>
            <tr>
              <td>Дюк де Шеранс МУСКАТ<br /><span style="color: rgb(128, 128, 128);">Франция, полусладкое</span></td>
              <td></td>
              <td>1200</td>
            </tr>
            <tr>
              <td>Опера<br /><span style="color: rgb(128, 128, 128);">Франция, полусухое / брют</span></td>
              <td></td>
              <td>1200</td>
            </tr>
            <tr>
              <td>Асти Мондоро. DOCG<br /><span style="color: rgb(128, 128, 128);">Италия, сладкое</span></td>
              <td></td>
              <td>2800</td>
            </tr>
            <tr>
              <td>Моэт Шандон<br /><span style="color: rgb(128, 128, 128);">Франция, Брют Империал</span></td>
              <td></td>
              <td>6900</td>
            </tr>
          </table> <b><br /><br />Белые вина по бокалам</b><br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,15 l<br /></th>
            </tr>
            <tr>
              <td>Бордо AOC. Классик де Мари Манес<br /><span style="color: rgb(128, 128, 128);">Франция, сухое</span></td>
              <td>210</td>
            </tr>
            <tr>
              <td>Шардоне, Фронтера<br /><span style="color: rgb(128, 128, 128);">Чили, полусухое</span></td>
              <td>210</td>
            </tr>
            <tr>
              <td>Совиньон Блан, Фронтера<br /><span style="color: rgb(128, 128, 128);">Чили, полусухое</span></td>
              <td>210</td>
            </tr>
            <tr>
              <td>Рислинг Гевюрцтраминер<br /><span style="color: rgb(128, 128, 128);">Хардис Стемп, Австралия, полусладкое</span></td>
              <td>300</td>
            </tr>
            <tr>
              <td>Совиньон Блан DO, Осадия<br /><span style="color: rgb(128, 128, 128);">Чили, сухое</span></td>
              <td>210</td>
            </tr>
            <tr>
              <td>Соаве. Монтефьоре<br /><span style="color: rgb(128, 128, 128);">Италия, полусухое</span></td>
              <td>250</td>
            </tr>

          </table> <b><br /><br />Красные вина по бокалам</b><br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,15 l</th>
            </tr>
            <tr>
              <td>Бордо AOC. Классик де Мари Манес<br /><span style="color: rgb(128, 128, 128);">Франция, сухое</span></td>
              <td>210</td>
            </tr>
            <tr>
              <td>Каберне Совиньон DO, Осадия<br /><span style="color: rgb(128, 128, 128);">Чили, сухое</span></td>
              <td>210</td>
            </tr>
            <tr>
              <td>Мерло, Фронтера<br /><span style="color: rgb(128, 128, 128);">Чили, полусухое</span></td>
              <td>210</td>
            </tr>
            <tr>
              <td>Карменер, Фронтера<br /><span style="color: rgb(128, 128, 128);">Чили, полусухое</span></td>
              <td>210</td>
            </tr>
            <tr>
              <td>Шираз, Хардис Стемп<br /><span style="color: rgb(128, 128, 128);">Австралия, сухое</span></td>
              <td>300</td>
            </tr>
            <tr>
              <td>Бардолино. Монтефьоре<br /><span style="color: rgb(128, 128, 128);">Италия, полусухое</span></td>
              <td>250</td>
            </tr>
          </table> <b><br /><br />Белые вина</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,75 l</th>
            </tr>
            <tr>
              <td>Бордо AOC. Классик де Мари Манес<br /><span style="color: rgb(128, 128, 128);">Франция, сухое</span></td>
              <td>1050</td>
            </tr>
            <tr>
              <td>Совиньон Блан, Фронтера<br /><span style="color: rgb(128, 128, 128);">Чили, полусухое</span></td>
              <td>1050</td>
            </tr>
            <tr>
              <td>Совиньон Блан DO<br /><span style="color: rgb(128, 128, 128);">Осадия, Чили, сухое</span></td>
              <td>1050</td>
            </tr>
            <tr>
              <td>Шардоне-Торронтес<br /><span style="color: rgb(128, 128, 128);">Тривенто. Аргентина, сухое</span></td>
              <td>1150</td>
            </tr>
            <tr>
              <td>Шаврон Блан Муале<br /><span style="color: rgb(128, 128, 128);">Луис Шаврон. Франция, полусладкое</span></td>
              <td>1150</td>
            </tr>
            <tr>
              <td>Соаве. Монтефьоре<br /><span style="color: rgb(128, 128, 128);">Италия, полусухое</span></td>
              <td>1250</td>
            </tr>
            <tr>
              <td>Совиньон Блан. Казиллеро дель Дьябло<br /><span style="color: rgb(128, 128, 128);">Чили, сухое</span></td>
              <td>1300</td>
            </tr>
            <tr>
              <td>Рислинг Гевюрцтраминер<br /><span style="color: rgb(128, 128, 128);">Хардис Стемп, Австралия, полусладкое</span></td>
              <td>1500</td>
            </tr>
            <tr>
              <td>Пино Гриджио<br /><span style="color: rgb(128, 128, 128);">Пьерпаоло Пекорари. Италия, сухое</span></td>
              <td>1700</td>
            </tr>
            <tr>
              <td>Совиньон Блан<br /><span style="color: rgb(128, 128, 128);">Террунио. Чили, сухое</span></td>
              <td>1950</td>
            </tr>
            <tr>
              <td>Бордо Блан<br /><span style="color: rgb(128, 128, 128);">Шато Бэль Эр Перпоншэ. Франция, сухое</span></td>
              <td>2000</td>
            </tr>
            <tr>
              <td>Совиньон Блан<br /><span style="color: rgb(128, 128, 128);">Силени Селлар Селекшн. Новая Зеландия, полусухое, 2006</span></td>
              <td>2300</td>
            </tr>
          </table> <b><br /><br />Красные вина</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,75 l</th>
            </tr>
            <tr>
              <td>Бордо AOC. Классик де  Мари Манес<br /><span style="color: rgb(128, 128, 128);">Франция, сухое</span></td>
              <td>1050</td>
            </tr>
            <tr>
              <td>Каберне Совиньон DO<br /><span style="color: rgb(128, 128, 128);">Осадия, Чили, сухое</span></td>
              <td>1050</td>
            </tr>
            <tr>
              <td>Мерло, Фронтера<br /><span style="color: rgb(128, 128, 128);">Чили, полусухое</span></td>
              <td>1050</td>
            </tr>
            <tr>
              <td>Карменер, Фронтера<br /><span style="color: rgb(128, 128, 128);">Чили, полусухое</span></td>
              <td>1050</td>
            </tr>
            <tr>
              <td>Мальбек/Бонарда. Тосо<br /><span style="color: rgb(128, 128, 128);">Аргентина, сухое</span></td>
              <td>1200</td>
            </tr>
            <tr>
              <td>Бардолино. Монтефьоре<br /><span style="color: rgb(128, 128, 128);">Италия, полусухое</span></td>
              <td>1250</td>
            </tr>
            <tr>
              <td>Карменер<br /><span style="color: rgb(128, 128, 128);">Казильеро Дель Дьябло. Чили, сухое</span></td>
              <td>1300</td>
            </tr>
            <tr>
              <td>Шираз, Хардис<br /><span style="color: rgb(128, 128, 128);">Австралия, сухое</span></td>
              <td>1500</td>
            </tr>
            <tr>
              <td>Вудбридж. Зинфандель<br /><span style="color: rgb(128, 128, 128);">Роберт Мондави. Калифорния, сухое</span></td>
              <td>1700</td>
            </tr>
            <tr>
              <td>Вальполичелла Классико<br /><span style="color: rgb(128, 128, 128);">Винье Альте. Дзени. Италия, сухое</span></td>
              <td>2200</td>
            </tr>
            <tr>
              <td>Кьянти Кавальеро<br /><span style="color: rgb(128, 128, 128);">Вилла Ди Ветриче. Италия, сухое</span></td>
              <td>1700</td>
            </tr>
            <tr>
              <td>Бордо. Шато Сен-Флорен<br /><span style="color: rgb(128, 128, 128);">Франция, сухое</span></td>
              <td>2000</td>
            </tr>
            <tr>
              <td>Буржуа. Шато Кастера Крю<br /><span style="color: rgb(128, 128, 128);">Франция, сухое</span></td>
              <td>2500</td>
            </tr>
            <tr>
              <td>Мерло<br /><span style="color: rgb(128, 128, 128);">Силени Селлар Селекшн. Новая Зеландия, сухое, 2002</span></td>
              <td>2900</td>
            </tr>
          </table>

          <br /><br /><b>Аперитив</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,05 l</th>
            </tr>
            <tr>
              <td>Мартини Бьянко</td>
              <td>140</td>
            </tr>
            <tr>
              <td>Мартини Россо</td>
              <td>140</td>
            </tr>
            <tr>
              <td>Мартини Экстра Драй</td>
              <td>140</td>
            </tr>
            <tr>
              <td>Кампари</td>
              <td>180</td>
            </tr>
          </table><br /><br /><b>Ликеры</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,05 l</th>
            </tr>
            <tr>
              <td>Куантро</td>
              <td>290</td>
            </tr>
            <tr>
              <td>Бейлиз. Айриш Крим</td>
              <td>260</td>
            </tr>
            <tr>
              <td>Малибу</td>
              <td>260</td>
            </tr>
            <tr>
              <td>Калуа</td>
              <td>340</td>
            </tr>
            <tr>
              <td>Самбука. Касони Бьянка</td>
              <td>220</td>
            </tr>
          </table><br /><br /><b>Настойки</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,05 l</th>
            </tr>
            <tr>
              <td>Йегермайстер</td>
              <td>180</td>
            </tr>
          </table>
          <br /><br /><b>Водка</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,05 l</th>
            </tr>
            <tr>
              <td>Русский Стандарт Ориджинал</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Русский Стандарт Платинум</td>
              <td>200</td>
            </tr>
            <tr>
              <td>Русский Стандарт Империя</td>
              <td>300</td>
            </tr>
          </table><br /><br /><b>Текила</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,05 l</th>
            </tr>
            <tr>
              <td>Сауза Серебряная</td>
              <td>280</td>
            </tr>
            <tr>
              <td>Сауза Золотая</td>
              <td>300</td>
            </tr>
            <tr>
              <td>Ольмека Серебряная</td>
              <td>300</td>
            </tr>
            <tr>
              <td>Ольмека Золотая</td>
              <td>320</td>
            </tr>
          </table><br /><br /><b>Джин</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,05 l</th>
            </tr>
            <tr>
              <td>Бифитер</td>
              <td>280</td>
            </tr>
            <tr>
              <td>Гордонс</td>
              <td>280</td>
            </tr>
          </table><br /><br /><b>Ром</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,05 l</th>
            </tr>
            <tr>
              <td>Бакарди светлый</td>
              <td>230</td>
            </tr>
            <tr>
              <td>Бакарди тёмный</td>
              <td>260</td>
            </tr>
          </table><br /><br /><b>Коньяк</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,05 l</th>
            </tr>
            <tr>
              <td>Реми Мартан VS</td>
              <td>590</td>
            </tr>
            <tr>
              <td>Реми Мартан VSOP</td>
              <td>820</td>
            </tr>
            <tr>
              <td>Реми Мартан XO</td>
              <td>2400</td>
            </tr>
            <tr>
              <td>Хеннеси VS</td>
              <td>690</td>
            </tr>
            <tr>
              <td>Хеннеси VSOP</td>
              <td>960</td>
            </tr>
          </table><br /><br /><b>Армянский коньяк</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,05 l</th>
            </tr>
            <tr>
              <td>Грейт Велли</td>
              <td>250</td>
            </tr>
          </table><br /><br /><b>Виски</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>
            <tr>
              <th>Наименование</th>
              <th>цена за 0,05 l</th>
            </tr>
            <tr>
              <td>Тулламор Дью</td>
              <td>260</td>
            </tr>
            <tr>
              <td>Грантс</td>
              <td>270</td>
            </tr>
            <tr>
              <td>Баллантайнс</td>
              <td>270</td>
            </tr>
            <tr>
              <td>Джеймсон</td>
              <td>320</td>
            </tr>
            <tr>
              <td>Джим Бим</td>
              <td>310</td>
            </tr>
            <tr>
              <td>Джек Дэниэлз</td>
              <td>370</td>
            </tr>
            <tr>
              <td>Джонни Уокер. Красная этикетка</td>
              <td>320</td>
            </tr>
            <tr>
              <td>Джонни Уокер. Черная этикетка.</td>
              <td>620</td>
            </tr>
            <tr>
              <td>Чивас Регал. 12 лет</td>
              <td>580</td>
            </tr>

          </table><br /><br /><b>Виски односолодовые</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>

            <tr>
              <th>Наименование</th>
              <th>цена за 0,05 l</th>
            </tr>
            <tr>
              <td>Гленфиддиш. 12 лет</td>
              <td>690</td>
            </tr>
            <tr>
              <td>Макаллан. 12 лет</td>
              <td>790</td>
            </tr>

          </table><br /><br /><b>Коктейли</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>

            <tr>
              <th>Наименование</th>
              <th>цена</th>
            </tr>


            <tr>
              <td>Кампари Оранж (240 ml)</td>
              <td>220</td>
            </tr>
            <tr>
              <td>Мартини (60 ml)</td>
              <td>240</td>
            </tr>
            <tr>
              <td>Маргарита (90 ml)</td>
              <td>360</td>
            </tr>
            <tr>
              <td>Джин-тоник (240 ml)</td>
              <td>280</td>
            </tr>
            <tr>
              <td>Дайкири (70 ml)</td>
              <td>210</td>
            </tr>
            <tr>
              <td>Пина Колада (340 ml)</td>
              <td>290</td>
            </tr>
            <tr>
              <td>Мохито (200 ml)</td>
              <td>290</td>
            </tr>
            <tr>
              <td>Черный русский (60 ml)</td>
              <td>240</td>
            </tr>
            <tr>
              <td>Белый русский (80 ml)</td>
              <td>240</td>
            </tr>
            <tr>
              <td>Лонг Айленд Айс Ти (280 ml)</td>
              <td>390</td>
            </tr>
            <tr>
              <td>Кровавая Мэри (240 ml)</td>
              <td>210</td>
            </tr>

          </table> <b><br /><br />Горячие коктейли</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>

            <tr>
              <th>Наименование</th>
              <th>цена</th>
            </tr>


            <tr>
              <td>Глинтвейн (280 ml)</td>
              <td>300</td>
            </tr>
            <tr>
              <td>Грог (280 ml)</td>
              <td>250</td>
            </tr>

          </table> <b><br /><br />Безалкогольные коктейли</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>

            <tr>
              <th>Наименование</th>
              <th>цена</th>
            </tr>


            <tr>
              <td>Пина Колада (300 ml)</td>
              <td>270</td>
            </tr>
            <tr>
              <td>Ванильный коктейль (300 ml)</td>
              <td>150</td>
            </tr>

          </table><br /><br /> <b>Разливное пиво</b><br /><br />
          <table class="table table-striped table-bordered">

            <tr>
              <th>Наименование</th>
              <th>цена за 0,3 l</th>
              <th>цена за 0,5 l</th>
            </tr>


            <tr>
              <td>Балтика №7</td>
              <td>100</td>
              <td>160</td>
            </tr>
            <tr>
              <td>Карлсберг</td>
              <td>160</td>
              <td>210</td>
            </tr>

          </table> <b><br /><br />К пиву</b><br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>

            <tr>
              <th>Наименование</th>
              <th>цена</th>
            </tr>


            <tr>
              <td>Куриные крылышки (300 гр)</td>
              <td>250</td>
            </tr>
            <tr>
              <td>Хлебные палочки с чесноком (225 гр)</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Креветки отварные (270 гр)</td>
              <td>250</td>
            </tr>

          </table> <b><br /><br />Безалкогольные напитки</b><br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>

            <tr>
              <th>Наименование</th>
              <th>цена</th>
            </tr>


            <tr>
              <td>Сок (200 ml)</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Свежевыжатый сок (200 ml)</td>
              <td>180</td>
            </tr>
            <tr>
              <td>Домашний морс (200 ml)</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Cан-Пеллегрино (250 ml)</td>
              <td>160</td>
            </tr>
            <tr>
              <td>Аква Панна (200 ml)</td>
              <td>160</td>
            </tr>
            <tr>
              <td>Перрье (330 ml)</td>
              <td>200</td>
            </tr>
            <tr>
              <td>Кока-кола (250 ml)</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Кока-кола лайт (250 ml)</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Фанта (250 ml)</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Спрайт (250 ml)</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Тоник (250 ml)</td>
              <td>150</td>
            </tr>

          </table> <b><br /><br />Горячие напитки</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>

            <tr>
              <th>Наименование</th>
              <th>цена</th>
            </tr>


            <tr>
              <td>Американо (110 ml)</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Эспрессо (60 ml)</td>
              <td>130</td>
            </tr>
            <tr>
              <td>Двойной эспрессо (160 ml)</td>
              <td>140</td>
            </tr>
            <tr>
              <td>Капучино (120 ml)</td>
              <td>160</td>
            </tr>
            <tr>
              <td>Латте (220 ml)</td>
              <td>180</td>
            </tr>
            <tr>
              <td>Кофе без кофеина (110 ml)</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Горячий шоколад (110 ml)</td>
              <td>130</td>
            </tr>
            <tr>
              <td>Чай в чайнике (400 ml)</td>
              <td>150</td>
            </tr>

          </table> <b><br /><br />Сигареты</b> <br /><br />
          <table class="table table-striped table-bordered">
            <colgroup><col style="width:70%"><col style="width:30%"></colgroup>

            <tr>
              <th>Наименование</th>
              <th>цена за пачку</th>
            </tr>


            <tr>
              <td>Мальборо Легкий</td>
              <td>70</td>
            </tr>
            <tr>
              <td>Парламент</td>
              <td>82</td>
            </tr>
            <tr>
              <td>Парламент Легкий</td>
              <td>82</td>
            </tr>
            <tr>
              <td>Кент № 4</td>
              <td>63</td>
            </tr>
            <tr>
              <td>Вог Супертонкий</td>
              <td>68</td>
            </tr>
            <tr>
              <td>Вог Супертонкий Ментоловый</td>
              <td>68</td>
            </tr>

          </table>
        </div>
      </li>
      <li>
        <a data-toggle="collapse" data-parent="#accordion" href="#child_rest">Детские вечеринки</a>
        <div id="child_rest" class="collapse">
          <br><a href="http://www.nashotel.ru/events/child/">подробно</a>
        </div>
      </li>
    </ul>
  </div>
</div>
@section css
{
  <link href="http://cdn.jsdelivr.net/lightbox2/2.6/css/lightbox.css" type="text/css" rel="stylesheet" />
  <style>
    table tbody td, table tbody th {
      text-align: center;
    }

      table tbody td:first-child, table tbody th:first-child {
        text-align: left;
        padding-left: 20px;
      }
  </style>
}
@section scripts
{
  <script src="http://cdn.jsdelivr.net/lightbox2/2.6/js/lightbox-2.6.min.js"></script>
  @*<script type="text/javascript">
    function onOff(elemID) {
      if (document.getElementById(elemID).style.display == 'block') {
        document.getElementById(elemID).style.display = "none";
      } else {
        document.getElementById(elemID).style.display = 'block';
      }
    }
  </script>*@
}
