<div class="col-md-3">
  <ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Параметры", "Params", "Account", new { area = "" }, null)</li>
    <li class="list-group-item">@Html.ActionLink("Смена пароля", "Manage", "Account", new { area = "" }, null)</li>
  </ul>
</div>

