@{
    ViewBag.Title = "Forgot Password Confirmation";
    ViewBag.Title = "Восстановление пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
  <p>
    Please check your email to reset your password.
    На ваш email выслано письмо. Для восстановления пароля пройдите по ссылке из письма.
  </p>
</div>
