<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://avg1605-001-site1.mywindowshosting.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://avg1605-001-site1.mywindowshosting.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>avg1605-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\avg1605-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=SQL5006.myWindowsHosting.com;Initial Catalog=DB_9AD96B_nashotelru;Persist Security Info=True;User ID=DB_9AD96B_nashotelru_admin;Password=ghjvtyfl" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Nashotelru.Models.ApplicationDbContext, Nashotelru" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NashotelDBContext" Order="4" Enabled="True">
          <Destination Path="Data Source=SQL5006.myWindowsHosting.com;Initial Catalog=DB_9AD96B_nashotelru;Persist Security Info=True;User ID=DB_9AD96B_nashotelru_admin;Password=ghjvtyfl" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Nashotelru.Areas.ru.Models.NashotelDBContext, Nashotelru" MigrationConfiguration="Nashotelru.Migrations.Configuration, Nashotelru" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5006.myWindowsHosting.com;Initial Catalog=DB_9AD96B_nashotelru;Persist Security Info=True;User ID=DB_9AD96B_nashotelru_admin;Password=ghjvtyfl</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NashotelDBContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5006.myWindowsHosting.com;Initial Catalog=DB_9AD96B_nashotelru;Persist Security Info=True;User ID=DB_9AD96B_nashotelru_admin;Password=ghjvtyfl</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>