@model IEnumerable<Nashotelru.Areas.ru.Models.News>
@{
  ViewBag.Title = "Главная";
}
<div class="row">
  <div class="col-md-9">
    @Html.Partial("_Carousel")
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>
          Мы в социальных сетях
        </h5>
        <ul class="list-inline">
          <li><a href="http://www.facebook.com/NasHOTEL" target="_blank"><img alt="Наш ОТЕЛЬ Facebook" src="~/Content/img/facebook.jpg" width="35" height="35" /></a></li>
          <li><a href="http://twitter.com/Nash_OTEL" target="_blank"><img alt="Наш ОТЕЛЬ Twitter" src="~/Content/img/twitter.jpg" width="35" height="35" /></a></li>
          <li><a href="http://vkontakte.ru/club21938026" target="_blank"><img alt="Наш ОТЕЛЬ VKontakte" src="~/Content/img/vkontakte.jpg" width="35" height="35" /></a></li>
          <li><a href="http://nashotelspb.blogspot.com/" target="_blank"><img alt="Наш ОТЕЛЬ Blogger" src="~/Content/img/blogger.jpg" width="34" height="34" /></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="tripadvisor">
          <div id="TA_tchotel330" class="TA_tchotel text-center">
            <ul id="WgtgUrSTyvN5" class="TA_links A2O2uoE1HZz no-ta">
              <li id="i59HM0xi5nJD" class="WxJhoKc1"><a href=http://www.tripadvisor.ru/Hotel_Review-g298507-d623287-Reviews-NasHOTEL-St_Petersburg_Northwestern_District.html>Гостиница НашОТЕЛЬ</a></li>
            </ul>
          </div>
          <script src="http://www.jscache.com/wejs?wtype=tchotel&amp;uniq=330&amp;locationId=623287&amp;lang=ru&amp;year=2013"></script>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-4 col-lg-3">
    @Html.Partial("_Reservation")
  </div>
  <div class="col-md-5 col-lg-6 no-h1">
    <h1>Откройте для себя мир гостиницы "Наш ОТЕЛЬ"!</h1>
    <p>Приглашаем Вас в удивительный мир цветов, жизнерадостного настроения и оптимизма, в вечный праздник чувств и незабываемых впечатлений!</p>
    <p>«Наш ОТЕЛЬ» — четырехзвездная гостиница Петербурга, удачно расположенная в историческом центре города, на Васильевском острове вблизи от станции метро «Василеостровская» и недалеко от крупнейшего выставочного комплекса «Ленэкспо» и пассажирского порта «Морской вокзал». Для участников конференций и симпозиумов, проходящих на территории «Ленэкспо», гостиница «Наш ОТЕЛЬ» стала излюбленным местом проживания.</p>
    <p>Мы непрерывно работаем над тем, чтобы наше обслуживание было безупречным, а Ваше пребывание в «Наш ОТЕЛЬ» незабываемым!</p>
  </div>
  <div class="col-md-3">
    @Html.Partial("_News", Model)
  </div>
</div>

@section css
{
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
}
@section scripts
{
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  @Html.Partial("_ReservationScript")
}
